.idea/
txtdis-parent/dyvek-parent/dyvek-parent.iml
txtdis-parent/dyvek-parent/javafx-dyvek/javafx-dyvek.iml
txtdis-parent/dyvek-parent/rest-dyvek/rest-dyvek.iml
txtdis-parent/mgdc-ccbpi-parent/javafx-mgdc-ccbpi/javafx-mgdc-ccbpi.iml
txtdis-parent/mgdc-ccbpi-parent/mgdc-ccbpi-parent.iml
txtdis-parent/mgdc-ccbpi-parent/rest-mgdc-ccbpi/rest-mgdc-ccbpi.iml
txtdis-parent/mgdc-ccbpi-parent/shared-mgdc-ccbpi/shared-mgdc-ccbpi.iml
txtdis-parent/mgdc-gsm-parent/edms-mgdc-gsm2/edms-mgdc-gsm2.iml
txtdis-parent/mgdc-gsm-parent/edms-mgdc-gsm2/target/
txtdis-parent/mgdc-gsm-parent/edms-mgdc-gsm3/edms-mgdc-gsm3.iml
txtdis-parent/mgdc-gsm-parent/javafx-mgdc-gsm2/javafx-mgdc-gsm2.iml
txtdis-parent/mgdc-gsm-parent/javafx-mgdc-gsm3/javafx-mgdc-gsm3.iml
txtdis-parent/mgdc-gsm-parent/mgdc-gsm-parent.iml
txtdis-parent/mgdc-gsm-parent/rest-mgdc-gsm2/rest-mgdc-gsm2.iml
txtdis-parent/mgdc-gsm-parent/rest-mgdc-gsm3/rest-mgdc-gsm3.iml
txtdis-parent/mgdc-gsm-parent/txtdis-edms-mgdc-gsm/txtdis-edms-mgdc-gsm.iml
txtdis-parent/mgdc-gsm-parent/txtdis-javafx-mgdc-gsm/txtdis-javafx-mgdc-gsm.iml
txtdis-parent/mgdc-gsm-parent/txtdis-mgdc-gsm/txtdis-mgdc-gsm.iml
txtdis-parent/mgdc-gsm-parent/txtdis-rest-mgdc-gsm/txtdis-rest-mgdc-gsm.iml
txtdis-parent/txtdis-javafx-mgdc/txtdis-javafx-mgdc.iml
txtdis-parent/txtdis-javafx/txtdis-javafx.iml
txtdis-parent/txtdis-mgdc/txtdis-mgdc.iml
txtdis-parent/txtdis-phone/txtdis-phone.iml
txtdis-parent/txtdis-rest-client/txtdis-rest-client.iml
txtdis-parent/txtdis-rest-mgdc/target/
txtdis-parent/txtdis-rest-mgdc/txtdis-rest-mgdc.iml
txtdis-parent/txtdis-rest-server/txtdis-rest-server.iml
txtdis-parent/txtdis-rest/txtdis-rest.iml
txtdis-parent/txtdis-salesforce/txtdis-salesforce.iml
txtdis-parent/txtdis-shared/txtdis-shared.iml
